---
import MyGallery from "../components/Projects.jsx";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Welcome from "../components/Welcome.astro";
import Services from "../components/Services.astro";
import Steps from "../components/Steps.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<style>
		.blurry-gradient-2 {
  position: absolute;
    top: 20%;
    right: 0%;
  transform: translate(50%, 0%);
  width: 800px;
  height: 800px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgb(255, 123, 0), rgb(255, 255, 255));
  opacity: .5;
  z-index: -20;
}
</style>

<!-- <Navigation />
-->
<Welcome /> 
<Services />
<div>
	<div class='container mx-auto relative'>
			 <div   class="blurry-gradient-2"></div>
		<h2
			class='text-3xl font-bold sm:text-4xl my-20 text-blue-950 text-center max-w-3xl mx-auto'
		>
			&rsquo; Gedaan met hoge energierekeningen en samen pakken we de
			klimaatcrisis aan. &rsquo;
		</h2>

		<MyGallery client:load />
	</div>
</div>
<Steps />
<Testimonials />
<Contact />
<Footer />

<!-- 
<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout> -->

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
