---
export interface Props{
    item: any;
}

const {item} = Astro.props;
---
<section
    class='relative p-6 text-sm leading-6 bg-white rounded-lg border-gray-200/60 max-w-md min-h-full font-liberationsans'
>
    <div class='flex items-center space-x-6 '>
        <!-- <img
            src='../public/images/avatar.png'
            alt='APamela Leon'
            class='flex-none object-cover w-10 h-10 rounded-full'
            loading='lazy'
        /> -->
        <div class='flex-auto'>
            <a
                href='https://twitter.com/Axelut'
                class='text-2xl font-semibold text-orange-400  '
                >{item.alias}</a
            ><div class=' -mt-1 text-gray-300  text-lg font-bold '>
                {item.place}
            </div>
        </div>
    </div><p class='mt-4 text-blue-950 text-lg font-liberationsans font-bold ' >
     {item.text}</p>
</section>
