<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
  <h2 class='text-3xl font-bold sm:text-4xl my-20 text-blue-950 text-center max-w-3xl mx-auto relative'>
     <img class="absolute inset-0  left-20 opacity-50 -top-4 -z-10" src="../../images/pve.svg" alt="" />
                 &rsquo; Maak je klaar voor de verplichte omschakeling naar zonne-energie en laat u begeleiden door PV Energy. &rsquo;
                    </h2>

<section class='bg-orange-400'>
    <div class='mx-auto  px-4 pb-16 sm:px-6 lg:px-8 max-w-3xl'>
        
 <div
                class='rounded-md p-8  lg:col-span-3 lg:p-12'
            >

                    <h2 class='text-3xl font-bold sm:text-4xl mb-10 text-white'>
                        Laten we het milieu sparen door zonnepanelen te gebruiken
                    </h2>
                <form action='' class='space-y-4'>
                      <div class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
                        <div>
                            <label class='sr-only' for='email'>Naam*</label>
                            <input
                                class='w-full rounded-md border-1 border-gray-200 p-3 text-sm placeholder-gray-400'
                                placeholder='Naam*'
                                type='email'
                                id='email'
                            />
                        </div>

                        <div>
                            <label class='sr-only' for='phone'>Telefoon*</label>
                            <input
                                class='w-full rounded-md border-1² border-gray-200 p-3 text-sm placeholder-gray-400'
                                placeholder='Telefoon*'
                                type='tel'
                                id='phone'
                            />
                        </div>
                    </div>

                         <div>
                        <label class='sr-only' for='straat'>Straat + Nr.</label>
                        <input
                            class='w-full rounded-md border-1 border-gray-200 p-3 text-sm placeholder-gray-400'
                            placeholder='Straat + Nr.*'
                            type='text'
                            id='straat'
                        />
                    </div>

                    <div class='flex space-x-4'>
                        <div class="">
                            <label class='sr-only' for='email'>Naam*</label>
                            <input
                                class='flex-1 w-32 rounded-md border-1 border-gray-200 p-3 text-sm placeholder-gray-400'
                                placeholder='Postcode'
                                type='email'
                                id='email'
                            />
                        </div>

                        <div class=""     style="width: -webkit-fill-available;">
                            <label class='sr-only' for='phone'>Telefoon*</label>
                            <input
                                class='flex-1 w-full rounded-md border-1 border-gray-200 p-3 text-sm placeholder-gray-400'
                                placeholder='Stad'
                                type='tel'
                                id='phone'
                           
                            />
                        </div>
                    </div>

                        <div>
                        <label class='sr-only' for='name'>E-mail</label>
                        <input
                            class='w-full rounded-md border-1 border-gray-200 p-3 text-sm placeholder-gray-400'
                            placeholder='Email*'
                            type='email'
                            id='email'
                        />
                    </div>

                    <!-- <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                        <div>
                            <input class="peer sr-only" id="option1" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option1"
                                class="block w-full rounded-md border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 1</span>
                            </label>
                        </div>

                        <div>
                            <input class="peer sr-only" id="option2" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option2"
                                class="block w-full rounded-md border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 2</span>
                            </label>
                        </div>

                        <div>
                            <input class="peer sr-only" id="option3" type="radio" tabindex="-1" name="option" />

                            <label
                                for="option3"
                                class="block w-full rounded-md border-1 border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white"
                                tabindex="0"
                            >
                                <span class="text-sm font-medium"> Option 3</span>
                            </label>
                        </div>
                    </div> -->

                

                    <div class='mt-4 float-right'>
                        <button
                            type='submit'
                            class='inline-block w-full rounded-md border-1 bg-sky-950 px-5 py-3 font-bold text-white sm:w-auto'
                        >
                            Indienen
                        </button>
                    </div>
                </form>
            </div>

    </div>
</section>
