---
import { Icon } from "astro-icon";
---

<!-- <style>
    .square {
        width: 30px;
        height: 30px;
        background: #84cc16;
        z-index: 11;
        position: absolute;
        text-align: 0;
        top: 0;
        /* left: 0; */
    }
</style> -->
<!--  
<div class="pswp-gallery"  >
    <a
      href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-2500.jpg"
      data-pswp-width="1875"
      data-pswp-height="2500"
      target="_blank"
    >
      <img
        src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-200.jpg"
        alt=""
      />
    </a>
    <a
      href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
      data-pswp-width="1669"
      data-pswp-height="2500"
      target="_blank"
    >
      <img
        src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
        alt=""
      />
    </a>
    <a
      href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg"
        alt=""
      />
    </a>
  </div> -->

<section class=''>
     <div class="relative max-w-3xl  mx-auto my-20 ">   <img class="absolute inset-0    opacity-50   -z-10  -top-10 right-0" src="../../images/pve.svg" alt="" />
    	<h2 class='text-3xl font-bold sm:text-4xl  text-blue-950 text-center '
		>
			&rsquo; Gedaan met hoge energierekeningen en samen pakken we de
			klimaatcrisis aan. &rsquo;
		</h2></div> 
    <div
        class='   py-8 sm:py-12   backdrop-blur-md bg-white/50 mx-auto  max-w-screen-xl'
    >
  <div class=' ' id='my-gallery'>
                <div class='grid grid-cols-2 md:grid-cols-4 gap-4'>
                    <div class='grid gap-4'>
                        <div class='relative'>
                            <a
                                href='../images/project1.jpg'
                                data-pswp-width='1500'
                                data-pswp-height='2000'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project1.jpg'
                                    alt=''
                                />
                          
                            </a>
                        </div>
                           <div class='relative'>
                            <a
                                href='../images/project5.jpg'
                                data-pswp-width='2000'
                                data-pswp-height='900'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project5.jpg'
                                    alt=''
                                />
                          
                            </a>
                        </div>
                    
                    </div>
                    <div class='grid gap-4'>
                              <div class='relative'>
                            <a
                                href='../images/project2.jpg'
                                data-pswp-width='1536'
                                data-pswp-height='2048'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project2.jpg'
                                    alt=''
                                    style="    height: 280px;     object-fit: cover;     width: 100%; "
                                />
                          
                            </a>
                        </div>
                                <div class='relative'>
                            <a
                                href='../images/project3.jpg'
                                data-pswp-width='1812'
                                data-pswp-height='1359'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project3.jpg'
                                    alt=''
                                />
                          
                            </a>
                        </div>
                      
                    </div>
                    <div class='grid gap-4'>
                       <div class='relative'>
                            <a
                                href='../images/project4.jpg'
                                data-pswp-width='1812'
                                data-pswp-height='1359'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project4.jpg'
                                    alt=''
                                />
                          
                            </a>
                        </div> <div class='relative'>
                            <a
                                href='../images/project6.jpg'
                                data-pswp-width='1812'
                                data-pswp-height='1359'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project6.jpg'
                                    alt=''
                                    style="    height: 400px;     object-fit: cover; object-position: top;    width: 100%; "
                                />
                          
                            </a>
                        </div>
                 
                    </div>
                    <div class='grid gap-4'>
                   <div class='relative'>
                            <a
                                href='../images/project7.jpeg'
                                data-pswp-width='1812'
                                data-pswp-height='1359'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project7.jpeg'
                                    alt=''
                                />
                          
                            </a>
                        </div>
                      <div class='relative'>
                            <a
                                href='../images/project2.jpg'
                                data-pswp-width='1812'
                                data-pswp-height='1359'
                                target='_blank'
                            >
                                <img
                                    class='h-auto max-w-full rounded-lg -lg'
                                    src='../images/project2.jpg'
                                    alt=''
                                    style="height: 280px;object-fit: cover;width: 100%;"
                                />
                          
                            </a>
                        </div>
                 
                    </div>
                </div>
            </div>
    </div>
</section>

<script>
    
import PhotoSwipeLightbox from 'photoswipe/lightbox';
import 'photoswipe/style.css';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#my-gallery',
  children: 'a',
  pswpModule: () => import('photoswipe')
});
lightbox.init();

</script>