<a href='https://flowbite.com/' class='flex items-center'>
    <img src='../../images/pve.svg' class='h-8 mr-3' alt='PVE Logo' />
    <div class='ml-3'>
        <div
            class='self-start text-4xl font-semibold whitespace-nowrap tracking-wider'
        >
            PVE
        </div>

        <div
            class='self-start text-xs font-semibold whitespace-nowrap uppercase -mt-1'
        >
            Zonnepanelen
        </div>
    </div>
</a>
