---
import { Icon } from "astro-icon";
import CardTestimonial from "./CardTestimonial.astro";
import Drawer from "./Drawer.astro";
import Welcome2 from "./Welcome-2.astro";
 

---
<style is:global>

 .cta{
    border-radius: 10px;

 }
    
	.cta:before,
	.cta:after {
		content: "";
		position: absolute;
		display: block;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: 50%;
           border-radius: 10px;
	}

	.cta:before {
		bottom: 0;
		background: linear-gradient(to top, #FE8C49 0%, transparent 100%);
	}

	.cta:after {
		bottom: 0;
		background: linear-gradient(to top, #FE8C49 0%, transparent 100%);
	}

    @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

		.blurry-gradient-3 {
position: absolute;
    top: -20%;
    right: 9%;
    transform: translate(50%, 0%);
    width: 400px;
    height: 400px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%,rgb(255, 123, 0), rgb(255, 255, 255));
    opacity: 0.7;
    z-index: -20;
}

*{
    	font-family: "LiberationSans";
}

/* Mixins */
/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #f6682f 80%, #f6682f 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
  background: #39c2c9;
  background: linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #b9aef0;
  background: linear-gradient(180deg, #b9aef0 0%, #ada1eb 80%, #ada1eb 100%);
}

.bg-gradient4 span {
  background: #f6682f;
  background: linear-gradient(180deg, #f6682f 0%, #f6682f 80%, #f6682f 100%);
}

 

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 20px 0px 0 0px;
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #bf4c28;
}
.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #227270;
}
.fancy-button.bg-gradient3 {
  text-shadow: 0 0 1px #546082;
}
.fancy-button:before {
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  filter: blur(14px) brightness(0.9);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  filter: brightness(0.75) contrast(1.7);
}
.fancy-button.pop-onhover span {
  border-radius: 4px;
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(16px);
}
.fancy-button.pop-onhover:hover span {
  transform: scale(1);
}
.fancy-button.pop-onhover:hover:active span {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.2s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(5px) brightness(0.85);
  transition: all 0.2s ease-out;
}

.pop-onhover.bg-gradient3 span:hover {
  background: #b9aef0;
  background: linear-gradient(120deg, #b9aef0 0%, #ada1eb 80%, #ada1eb 100%);
}

.bg-gradient4:before {
  bottom: 2px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.bg-gradient4 {
  transition: all 1s ease;
}
.bg-gradient4 span {
  outline: 0px solid transparent;
}
.bg-gradient4:hover span {
  background: #fc3d7c;
  background: linear-gradient(-25deg, #fc3d7c 0%, #f76a34 80%, #f76a34 100%);
}
.bg-gradient4:focus span, .bg-gradient4:active span {
  background: #fc3d7c;
  background: linear-gradient(25deg, #fc3d7c 0%, #f76a34 80%, #f76a34 100%);
}
.bg-gradient4:focus span {
  box-shadow: 0 0 9px #00fff8;
}
.bg-gradient4:active span {
  filter: brightness(0.85) contrast(1.3);
}

.bg-gradient4 span {
  text-transform: capitalize;
}


</style>



<header class='  pt-20 relative'>
    <div class='container max-w-7xl   pb-8 mx-auto pt-20 '>
        
        <div class='items-center lg:flex'>
            <div class='w-full lg:w-1/2'>
                <div class='lg:max-w-lg'>
                    <h1
                        class='text-6xl font-bold text-pve-orange '
                    >
                  Zonne-energie redt de mensen en de planeet!
                        
                    </h1>

                 
                </div>
            </div>

            <div
                class='flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2'
            >
                     <div class='lg:max-w-lg'>
                    <!-- <h1
                        class='text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl'
                    >
                        Best place to choose <br /> your <span
                            class='text-blue-500'>clothes</span
                        >
                    </h1> -->

                    <p class='mt-3 text-blue-950 text-xl font-semibold '>
                    PV Energy is een specialist in zonne-energie die erkend is door Belgische overheid. Door onze prima contacten met producenten bieden wij totaal pakketten aan de goedkoopste prijzen.
                    </p>

                    	<a href="#" class="fancy-button bg-gradient1 font-bold font-liberationsans"><span>  ONZE PROMOTIES</span></a> 
<!-- 
                    <button
                        class='w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-pve-orange rounded-lg lg:w-auto hover:bg-orange-600 focus:outline-none focus:bg-orange-500 font-bold'
                        >Onze Promoties</button
                    > -->
                </div>
              
            </div>
        </div>
    </div>
</header>


<!-- <article class='wrapper my-3'>
    <div class='marquee'>
        <div class='marquee__group' >
          <img class="h-10" src="../../images/p1.png">
          <img class="h-10" src="../../images/p2.png">
          <img class="h-10"  src="../../images/p3.png">
          <img class="h-10"src="../../images/p4.png">
          <img class="h-10"src="../../images/p5.png">
          <imgc class="h-10" src="../../images/p6.png">
          <img class="h-10" src="../../images/p7.png">
          <img class="h-10" src="../../images/p8.png">
        </div>
        <div  aria-hidden='true' class='marquee__group'>
        <img class="h-10" src="../../images/p1.png">
          <img class="h-10" src="../../images/p2.png">
          <img class="h-10"  src="../../images/p3.png">
          <img class="h-10"src="../../images/p4.png">
          <img class="h-10"src="../../images/p5.png">
          <imgc class="h-10" src="../../images/p6.png">
          <img class="h-10" src="../../images/p7.png">
          <img class="h-10" src="../../images/p8.png">
        </div>

         <div aria-hidden='true' class='marquee__group'>
            <svg>
                <use xlink:href='#mcdonalds'></use>
            </svg>
            <svg>
                <use xlink:href='#jordan'></use>
            </svg>
            <svg>
                <use xlink:href='#aws'></use>
            </svg>
            <svg>
                <use xlink:href='#spotify'></use>
            </svg>
            <svg>
                <use xlink:href='#burger-king'></use>
            </svg>
            <svg>
                <use xlink:href='#honda'></use>
            </svg>
            <svg>
                <use xlink:href='#notion'></use>
            </svg>
            <svg>
                <use xlink:href='#hulu'></use>
            </svg>
        </div> 
    </div>

    <div class='marquee marquee--reverse'>
        <div class='marquee__group'>
            <svg>
                <use xlink:href='#hulu'></use>
            </svg>
            <svg>
                <use xlink:href='#notion'></use>
            </svg>
            <svg>
                <use xlink:href='#honda'></use>
            </svg>
            <svg>
                <use xlink:href='#burger-king'></use>
            </svg>
            <svg>
                <use xlink:href='#spotify'></use>
            </svg>
            <svg>
                <use xlink:href='#aws'></use>
            </svg>
            <svg>
                <use xlink:href='#jordan'></use>
            </svg>
            <svg>
                <use xlink:href='#mcdonalds'></use>
            </svg>
        </div>

        <div aria-hidden='true' class='marquee__group'>
            <svg>
                <use xlink:href='#hulu'></use>
            </svg>
            <svg>
                <use xlink:href='#notion'></use>
            </svg>
            <svg>
                <use xlink:href='#honda'></use>
            </svg>
            <svg>
                <use xlink:href='#burger-king'></use>
            </svg>
            <svg>
                <use xlink:href='#spotify'></use>
            </svg>
            <svg>
                <use xlink:href='#aws'></use>
            </svg>
            <svg>
                <use xlink:href='#jordan'></use>
            </svg>
            <svg>
                <use xlink:href='#mcdonalds'></use>
            </svg>
        </div>
    </div> 
</article> -->








    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    
