---
import { Icon } from "astro-icon";
import Drawer from "./Drawer.astro";

---
 
 	<h2
			class='text-3xl font-bold sm:text-4xl my-20 text-blue-950 text-center max-w-3xl mx-auto'
		>
			Wil je enkel zonnepalen?
Of liever in combinatie met een thuisbatterij en/of een laadpaal?
		</h2>

<div class="flex justify-between max-w-7xl mx-auto space-x-8">


            <div class='flex items-center lg:text-lg pt-5 '>
                <>
                    <div class='mr-4 mt-1 '>
                        <Icon
                            name='mdi:square'
                            class='inline-bloc text-pve-orange w-8'
                        />
                    </div>
                    <div>
                 

                        <p
                            class='text-blue-900 font-bold text-2xl '
                        >
                            Wij zorgen voor de beste deal! Geef uw jaarlijkse
                            verbruik door en wij zorgen binnen de 24 uur voor
                            een offerte met het meest passende pakket voor u.
                        </p>
                    </div>
                </>
            </div>
<div><Drawer/></div>

</div>


 
    <div class='blurry-gradient-3'></div>
</div>
